a {
    color: $theme-color;
    text-decoration: none;

    &:hover {
        color: $link-hover-color;
        text-decoration: none;
        text-decoration-color: $link-hover-color;
    }
}

article a, .news a {
    color: $theme-color;
    font-weight: 100;

    &:hover {
        color: $link-hover-color;
        text-decoration: none;
    }
}

.social a {
    color: $text-color;

    &:hover { color: $link-hover-color; }
}

.button {
  border: line;
  color: white;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;

  &:hover {
    color: whitesmoke;
    text-decoration: none;
    text-decoration-color: whitesmoke;
    }
}

.button1 {background-color: $theme-color;} /* Green */
.button2 {background-color: $lime_green;} /* Blue */
.button3 {background-color: $light-green; color: $mid-gray} /* Green */
.button4 {background-color: $green-1;} /* Blue */
.button5 {background-color: $green-2;} /* Blue */
.button6 {background-color: $yellow;} /* Blue */
.b-award {background-color: $orange-1; color: $mid-gray} /* Blue */
.b-venue {background-color: $white; color: $dark-green; border: line; border-style: dashed;  &:hover {color: $orange-1;}} /* Blue */

// a {
//   color: $link-color;
//   background-image: linear-gradient(to top,
//     rgba(0,0,0,0) 13%,
//     rgba($link-color,.8) 13%,
//     rgba($link-color,.8) 18%,
//     rgba(0,0,0,0) 17%
//   );
//   text-shadow: white 1px 0px 0px, white -1px 0px 0px;
// }
//
// a:hover,
// a:focus,
// a:active {
//   border: 0;
//   color: $link-hover-color;
//   text-decoration: none;
//   background-image: linear-gradient(to top,
//     rgba(0,0,0,0) 13%,
//     rgba($link-hover-color,.8) 13%,
//     rgba($link-hover-color,.8) 17%,
//     rgba(0,0,0,0) 17%
//   );
//   text-shadow: white 1px 0px 0px, white -1px 0px 0px;
// }
//
// // Correct issues with buttons
// button,
// .button {
//   text-shadow: none;
//   background-image: none;
// }
//
// .button:hover,
// .button:focus,
// .button:active {
//   color: white;
//   text-shadow: none;
//   background-image: none;
// }
//
// .anchorjs-link {
//     text-shadow: none;
//     background-image: none;
// }
// .anchorjs-link:hover,
// .anchorjs-link:focus,
// .anchorjs-link:active{
//     border: 0;
//     color: $link-hover-color;
//     text-shadow: none;
//     background-image: none;
// }
