---
---

{% if entry.abbr %}
  {% if site.data.venues[entry.abbr] %}
    <abbr>[<a href="{{site.data.venues[entry.abbr].url}}" target="_blank">{{entry.abbr}}</a>]</abbr>
  {% else %}
    <abbr>[{{entry.abbr}}]</abbr>
  {% endif %}
{% endif %}

<div id="{{entry.key}}">
  {% if entry.type == "thesis" %}
    {{reference}}
  {% else %}
    <span class="title">{{entry.title}}</span>
    <span class="author">
      {% for author in entry.author_array %}
        {% if forloop.length == 1 %}
          {% if author.last == site.scholar.last_name %}
            <em>{{author.first}} {{author.last}}</em>
          {% else %}
            {{author.first}} {{author.last}}
          {% endif %}
        {% else %}
          {% unless forloop.last %}
            {% if author.last == site.scholar.last_name %}
              <em><i>{{author.first}} {{author.last}}</i></em>,
            {% else %}
              {% if site.data.coauthors[author.last] %}
                <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>,
              {% else %}
                {{author.first}} {{author.last}},
              {% endif %}
            {% endif %}
          {% else %}
            {% if author.last == site.scholar.last_name %}
              and <em>{{author.first}} {{author.last}}</em>
            {% else %}
              {% if site.data.coauthors[author.last] %}
                and <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>
              {% else %}
                and {{author.first}} {{author.last}}
              {% endif %}
            {% endif %}
          {% endunless %}
        {% endif %}
      {% endfor %}
    </span>

    <span class="periodical">
    {% if entry.type == "article" %}
      <em>{{entry.journal}}</em>
    {% elsif entry.type == "inproceedings" %}
      <em>In {{entry.booktitle}}</em>
    {% endif %}
    {% if entry.year %}
      {{entry.year}}
    {% endif %}
    </span>
  {% endif %}

  <span class="links">
  {% if entry.abstract %}
    [<a class="abstract">Abs</a>]
  {% endif %}
  {% if entry.arxiv %}
    [<a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>]
  {% endif %}
  {% if entry.url %}
    <a class="button button1" href="{{ entry.url }}" target="_blank">URL</a>
  {% endif %}
  {% if entry.code %}
    <a class="button button2" href="{{ entry.code }}" target="_blank">Code</a>
  {% endif %}
  {% if entry.pdf %}
    <a class="button button5" href="{{ entry.pdf | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">PDF</a>
  {% endif %}
  {% if entry.supp %}
    [<a href="{{ entry.supp | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Supp</a>]
  {% endif %}
  {% if entry.poster %}
    <a class="button button3" href="{{ entry.poster | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Poster</a>
  {% endif %}
  {% if entry.slides %}
    <a class="button button4" href="{{ entry.slides | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Slides</a>
  {% endif %}
  {% if entry.talk %}
    <a class="button button6" href="{{ entry.talk }}" target="_blank">Talk</a>
  {% endif %}
  {% if entry.note %}
    <a class="button b-award"  target="_blank">{{ entry.note }}</a>
  {% endif %}
  {% if entry.bibtex %}
    <a class="abstract">Bib</a>
  {% endif %}
  </span>

  <!-- Hidden abstract block -->
  {% if entry.abstract %}
  <span class="abstract hidden">
    <p>{{ entry.abstract }}</p>
  </span>
  {% endif %}
  {% if entry.bibtex %}
  <span class="abstract hidden">
    <p>{{ entry.bibtex }}</p>
  </span>
  {% endif %}
</div>
